@import 'normalize';
@import 'mixins';
@import 'animate';
@import 'fonts';

//common styles start
* {
    margin: 0;
    padding: 0;
}

html {
    font-size: 16px;
    /* Fallback for old Browsers */
    font-size: 1.2vw;
    scroll-behavior: smooth;
    @include mobile {
        font-size: 25px;
        font-size: 2.8vw;
    }
    @media (min-width: 1500px) {
        font-size: 0.9vw;
    }
}

.container-fluid {
    padding-right: 45px;
    padding-left: 45px;
    @include mobile {
        padding-right: 0;
        padding-left: 0;
    }
    @include extra-large {
        max-width: 1800px;
        margin: auto;
    }
}

.site-container {
    padding: 3rem;
}

.h3-heading {
    font-size: 1.5rem;
    font-family: 'montserratregular';
    color: #fff;
    text-transform: uppercase;
}

.small-title {
    font-family: 'montserratmedium';
    font-size: rem(14);
}

p {
    font-size: rem(14);
    line-height: 1.5;
    font-family: 'montserratregular';
}

.text-white {
    color: #fff;
}

.text-blue {
    color: #00abea;
}

.parallel__img-blk {
    position: relative;
    height: 90vh;
    figure {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        margin: 0;
        bottom: 0;
        overflow: hidden;
        z-index: -1;
        clip: rect(0, auto, auto, 0);
        img {
            position: fixed;
            width: 100%;
            object-fit: cover;
            height: 100%;
            top: .9375rem;
            left: 0;
            right: 0;
            bottom: 0;
            filter: brightness(80%);
        }
    }
}

//common styles end
// Header and Banner section starts
.home-blk {
    height: 100vh;
    background: #000;
    color: #fff;
    background-image: url(../images/banner-img.jpg);
    width: 100%;
}

.header-blk {
    &__logo {
        img {
            max-width: rem(120);
        }
    }
    &__nav {
        font-family: 'montserratmedium';
        font-size: rem(12);
        text-transform: uppercase;
        transition: all .3s ease-out;
        @include mobile {
            display: none;
        }
        ul {
            li {
                list-style: none;
                float: left;
                opacity: 0.7;
                padding: 0rem 1.5rem;
                a {
                    color: #fff;
                    &:hover {
                        text-decoration: none;
                    }
                }
            }
        }
    }
    &.fixed-header {
        position: fixed;
        width: 100%;
        left: 0;
        top: 0;
        background: #000;
        z-index: 20;
        color: #fff;
        padding: 2.5rem;
        transition: all .3s ease-out;
        @include box-shadow(0px 10px 16px -16px rgba(255, 255, 255, 0.75));
        h1 {
            margin: 0.4em 0;
        }
        a {
            color: #fff;
        }
        @include mobile {
            position: static;
        }
    }
}

.banner-blk {
    &__text {
        font-family: 'montserratregular';
        margin-top: 18%;
        h2 {
            font-size: rem(40);
        }
        h4 {
            font-size: rem(26);
            overflow: hidden;
            border-right: 2px solid #fff;
            white-space: nowrap;
            display: inline-block;
            margin: 0 auto;
            letter-spacing: 0.05em;
            animation: typing 3.5s steps(18, end),
            blink-caret .5s step-end infinite;
        }
        h5 {
            font-size: rem(26);
        }
    }
}

// Header and Banner section end
//About section starts
.about-blk {
    background: url(../images/about-bg.jpg);
    text-align: center;
    &__social {
        a {
            background: #000;
            height: 50px;
            width: 50px;
            @include border-radius(50%);
            display: flex;
            align-items: center;
            justify-content: center;
            margin: -20px 0.3rem;
            transform: scale(1);
            transition: all .3s ease-out;
            &:before {
                content: "";
                border: 8px solid rgba(0, 171, 234, 0.36);
                border-radius: 50%;
                height: 75px;
                width: 75px;
                position: absolute;
                -webkit-animation: pulsate 1.6s ease-out;
                animation: pulsate 1.6s ease-out;
                -webkit-animation-iteration-count: infinite;
                animation-iteration-count: infinite;
                opacity: 0.0;
            }
            &:hover {
                transform: scale(1.1);
            }
        }
        img {
            width: 20px;
        }
    }
    &__content {
        width: 60%;
        margin: auto;
        padding: 3rem 0;
    }
}

//About section end
//skills section starts
.skills-blk {
    background: #000;
    padding: 3rem 0;
    .progress {
        height: 4px;
        background: #fff;
        @include border-radius(0);
        margin-bottom: 20px;
        margin-top: 15px;
        overflow: visible;
        width: 60%;
        &-bar {
            @include border-radius(0);
            position: relative;
            background: #007aa7;
            animation: progess 2s;
            &:after {
                content: "";
                width: 13px;
                height: 13px;
                @include border-radius(50%);
                background: #007aa7;
                position: absolute;
                bottom: -5px;
                right: -5px;
                z-index: 1;
            }
        }
    }
}

//skills section end
//experience block starts
.experience-blk {
    position: relative;
    &__content {
        position: absolute;
        padding: 3rem 0;
        top: 0;
    }
    &__company {
        border: solid 2px #fff;
        width: 80%;
        position: relative;
        .company__readmore {
            width: 40px;
            text-align: center;
            height: 40px;
            border-radius: 50%;
            background: #007aa7;
            margin-left: 2rem;
            position: absolute;
            top: 35%;
            right: 25px;
            transform: scale(1);
            transition: all .3s ease-out;
            cursor: pointer;
            &:hover {
                transform: scale(1.1);
            }
            i {
                color: #fff;
                font-size: 1.5rem;
            }
        }
    }
}

//experience block end
//portfolio block starts
.portfolio-blk {
    background: #000;
    padding: 3rem 0;
    &__icons {
        a {
            background: #000;
            height: 75px;
            width: 75px;
            @include border-radius(50%);
            display: flex;
            align-items: center;
            justify-content: center;
            margin: -20px 0.5rem;
            border: solid 6px rgba(255, 255, 255, 0.65);
            transform: scale(1);
            transition: all .3s ease-out;
            &:hover {
                transform: scale(1.1);
            }
        }
        img {
            width: 30px;
        }
    }
    &__work {
        figure {
            border: solid 2px #000;
            width: 100%;
            height: 20rem;
        }
        img {
            width: 100%;
            opacity: 0.5;
            object-fit: cover;
            object-position: left;
            height: 100%;
            transform: scale(1);
            transition: all .3s ease-out;
            &:hover {
                opacity: 1;
                transform: scale(1.01);
            }
        }
    }
}

//portfolio block end
//contact block end
.contact-blk {
    position: relative;
    .parallel__img-blk {
        height: 80vh;
    }
    &__content {
        position: absolute;
        top: 0; //padding: 3rem 0;
        .edu-content {
            background: rgba(0, 0, 0, 0.6);
            padding: 3rem 0;

        }
        .contact-details {
            padding: 3rem 0;
        }
        h6 {
            font-family: 'montserratregular';
            font-size: rem(14);
        }
        .contact__mail-ph {
            font-size: rem(28);
            text-align: center;
            i {
                font-size: rem(30);
                vertical-align: middle;
                margin-right: 0.5rem;
            }
        }
    }
}

//contact block end
footer {
    background: #000;
    padding: 15px 0;
    p {
        font-size: 0.65rem;
        margin: 0;
    }
}

//comit-footer  section end
@media (min-width: 1400px) {
    .container-fluid {
        padding-right: 100px;
        padding-left: 100px;
    }
    .comit-container {
        padding: 3rem 5rem;
    }
}
